asgiref
certifi
cffi
charset-normalizer
cryptography
defusedxml
dj-database-url
Django
django-cors-headers
django-rest-swagger
django-taggit
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djoser
drf-yasg
gunicorn
idna
oauthlib
pillow
psycopg2
psycopg2-binary
pycparser
PyJWT
python-decouple
python-dotenv
python3-openid
requests
requests-oauthlib
social-auth-app-django
social-auth-core
sqlparse
typing_extensions
tzdata
urllib3
whitenoise


celery[redis]  #this is an distributed task queue/job system to handle asynchronous tasks such as email sending. It is used in the notification application.
weasyprint  #this is a visual rendering engine for HTML and CSS that can export to PDF. It is used in the report application.
openpyxl  #this is a Python library to read/write Excel 2010 xlsx/xlsm/xltx/xltm files. It is used in the report application.
